@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$themeColor: #01CB78;
$bodyColor: #101010;

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.0;
    margin: 0.5in;

    @media print {
        font-size: 13px;
    }
}

h1, h2 {
    color: $themeColor;
}

a {
    color: $bodyColor;
    text-decoration: none;
    font-weight: bold;
}

.contact {
    display: flex;
    height: 1em;
    justify-content: space-between;
    text-align: center;

    svg {
        display: inline;
        height: 1em;
        margin-right: 0.5em;
    }
}

